# Python (Backend)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# Node (Frontend)
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*.local

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Database fallback caches
*.db
*.sqlite
